<header class="header" data-header>
  <div class="container">
    <nav class="navbar" data-navbar>
      <ul class="navbar-list">
        <li class="navbar-item">
          <a routerLink="/home" class="label-lg navbar-link has-after" routerLinkActive="active">Home</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/portfolio" class="label-lg navbar-link has-after" routerLinkActive="active">Portfolio</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/contact" class="label-lg navbar-link has-after" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>